.header{
    display: flex;
    align-items: center;
    background-color: #fdeef1;
}
.header .header-content{
    margin-top: 15px;
    justify-content: center;
    margin-left: 140px;
}
.header .header-content .main-text{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    text-shadow: 2px 2px 2px #272727;
    text-align: left;
    margin-bottom: 0px;
  }
  .header .header-content .second-text{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #7c7677;
    text-align: justify;
    padding-top: 0px;
  }
  .header .main-pic{
    width: 635px;
    height: 800px;
  }
  .header .primary-btn{
    border-radius: 10px;
    background-color: #e84b67;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    width: 157px;
    height: 54px;
    cursor: pointer;
  }
.footer-content{
    background-color: #111010;
    width: auto;
    height: 349px;
    align-items: center;
}
.footer-content .f-content{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color:white ;
    text-align: center;
    padding-top: 60px;
}
.footer-content .f-content .footer-head{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 0px;
}
.footer-content .f-content .flower{
    color: #e55473;
}
.footer-content .f-content .text-2{
    text-align: center;
    color: #ffffff;

}
.footer-content .f-content .text-3{
    color: #707070;

}
.sec-1{
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
}
.sec-1 .section-1{
    text-align: center;
}
.sec-2 .section-2{
    display: inline-block;
    align-items: center;
    padding-left: 160px;
}