.header{
    display: flex;
    align-items: center;
    background-color: #fdeef1;
}
.header .header-content{
    margin-top: 15px;
    justify-content: center;
    margin-left: 140px;
}
.header .header-content .main-text{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    text-shadow: 2px 2px 2px #272727;
    text-align: left;
    margin-bottom: 0px;
  }
  .header .header-content .second-text{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #7c7677;
    text-align: justify;
    padding-top: 0px;
  }
  .header .main-pic{
    width: 635px;
    height: 800px;
  }
  .header .primary-btn{
    border-radius: 10px;
    background-color: #e84b67;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    width: 157px;
    height: 54px;
    cursor: pointer;
  }
.footer-content{
    background-color: #111010;
    width: auto;
    height: 349px;
    align-items: center;
}
.footer-content .f-content{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color:white ;
    text-align: center;
    padding-top: 60px;
}
.footer-content .f-content .footer-head{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 0px;
}
.footer-content .f-content .flower{
    color: #e55473;
}
.footer-content .f-content .text-2{
    text-align: center;
    color: #ffffff;

}
.footer-content .f-content .text-3{
    color: #707070;

}
.sec-1{
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
}
.sec-1 .section-1{
    text-align: center;
}

.sec-2 .section-2{
    display: flex;
    justify-items: center;
    margin-left: 150px;
    margin-bottom: 50px;
    padding: 10px 10px 10px 20px;
}
.sec-pic1{
    display: flex;
    height: 300px;
    width: 300px;
    background-color: #f2dee8;
    margin-right: 20px;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
}
.sec-pic2{
    display: flex;
    height: 300px;
    width: 300px;
    background-color: #daf0f1;
    margin-right: 20px;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
}
.sec-pic3{
    display: flex;
    height: 300px;
    width: 300px;
    background-color: #e4ecdc;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
}
.sec-2 .flower-link{
    display: flex;
margin-top: 0px;
    
}
.sec-2 .flower-link a{
    text-decoration: none;
    padding-top: 0px;
    padding-left: 240px;
    padding-right: 0px;
}
.sec-2 .link-1{
    justify-content: space-evenly;
}
.sec4-content{
    display: flex;
    background-color: #fdf6f8;
    height: 600px;
    align-items: center;
}
.description{
margin-left: 50px;
    text-align: center;
}

.sec-4 .section-4{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color:#000000 ;
    text-align: center;
    padding-top: 60px;
}
.sec-4 .section-4 .sec4-head{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 0px;
}
.sec-4 .section-4 .hot{
    color: #e55473;
}
.sec-4 .section-4 .sec4txt-2{
    text-align: center;
    color: #707070;

}
.sec-4 .section-4 .primary-btn{
    border-radius: 10px;
    background-color: #e84b67;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    width: 157px;
    height: 54px;
    cursor: pointer;

}
.sec-6 .section-6{
    display: flex;
    margin-left: 50px;
    margin-bottom: 50px;
}
.sec-pic{
    display: flex;
    height: 300px;
    width: 300px;
}

.section-3{
    display: flex;
    background-color: #f4f4f4;
    margin-top: 50px;
    margin-left: 169px;
    margin-right: 150px;
    height: 200px;
    align-items: center;
}
.des1{
    padding: 50px;
    padding-left: 80px;
    text-align: center;
}
.des2{
    padding: 50px;
    text-align: center;
}
.des3{
    padding: 50px;
    text-align: center;
}
.section-5{
    background-image: url(/Rectangle\ 9.png);
    height: 305px;
    margin: 50px;
    text-align: center;
}
.section-5 .sec5-content{
    padding-top: 50px;
}
.section-5 .sec5-content .sec5-text{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    text-shadow: 2px 2px 2px #272727;
    margin-bottom: 0px;
    text-align: center;
}
.section-5 .sec5-content .sec5txt-2{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #7c7677;
    text-align: center;

}
input[type=submit] {
    border-radius: 10px;
    background-color: #e84b67;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    width: 157px;
    height: 54px;
    cursor: pointer;
  }
  input[type=email] {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 457px;
    height: 44px;
    border-radius: 10px;
  }