.header{
    display: flex;
    align-items: center;
    background-color: #fdeef1;
}
.header .header-content{
    margin-top: 15px;
    justify-content: center;
    margin-left: 150px;
}
.header .header-content .main-text{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-shadow: 2px 2px 2px #272727;
    text-align: left;
    margin-bottom: 0px;
  }
  .header .header-content .second-text{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: justify;
    padding-top: 0px;
  }
  .header .main-pic{
    width: 635px;
    height: 800px;
  }
  .header .primary-btn{
    border-radius: 10px;
    background-color: #e84b67;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    width: 177px;
    height: 64px;
    cursor: pointer;
  }
  